.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  z-index: 1;
}

.head-3 {
  color: mediumAquamarine;
  display: flex;
  align-items: center;
  width: 800px;
}

.head-nav span {
padding: 20px 10px;
margin-left: 5px;
display: inline-flex;
}

.head-nav a  {
color: black;
}

.content {
  display: flex;
  margin-top: 100px;

}
/* column CSS */
/*<!-- story div-->
</div> <!-- stories div -->
</div> <!-- lead-story div-->
</div> <!-- large column div-->
*/

.stories,
.lead-story,
.story,
.text-content
 {
  display: flex;
  flex-direction: column;
  
}

 .column .large {
width: 630px;

}

 .mother {
  background-image: url("../images/img-story-main.png");
  display: flex;

}

 .earth {
  background-image: url("../images/img-story-1.png	");
}

 .research {
  background-image: url("../images/img-story-2.png	");
}
 .column .medium {
  width: 300px;
}

 .cats {
   background-image: url("../images/img-story-3.png");
}

 .small {
width: 240px;
}

 .cookie {
  background-image: url("../images/img-news-bite.png");
}

/* General column CSS */
.main .story {

}
  .narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.column {
display: flex;
flex-direction: column;
margin-right: 31px;
align-items: flex-start;
}

.image span {
 font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 align-items: center;
 display: flex;
}


/* body CSS */
div {
  border: 1px solid black;
}
