.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;

  z-index: 1;
}

.head-3 {
  color: mediumAquamarine;
  display: flex;
  align-items: center;
  width: 800px;
}

.head-nav span {
padding: 20px 10px;
margin-left: 5px;
display: inline-flex;
}

.head-nav a  {
color: black;
}

.content {
  display: flex;
  margin-top: 100px;

}
/* column CSS */
.column {
  margin-right: 32px;
}

.column .large {
  display: flex;
  flex-direction: column;
  width: 630px;
  align-items: flex-start;

}

 .mother {
  background-image: url("resources/images/cimg-story-main.png");

}

 .earth {
  background-image: url("resources/images/img-story-1.png	");
}

 .research {
  background-image: url("resources/images/img-story-2.png	");
}
.column .medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
}

 .cats {

  background-image: url("resources/images/img-story-3.png");
}

.column .small {
display: flex;
flex-direction: column;
width: 240px;
align-items: flex-start;
}

 .cookie {
  background-image: url("resources/images/img-news-bite.png");
}

/* General column CSS */
.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}


.image span {
 font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 align-items: center;
 display: flex;
}
/* body CSS */
div {
  border: 1px solid black;
}
